<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
<style type="text/css">
	
.aduins{
 background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/nikasemo/image/upload/v1506805932/houseshutterstock_kbdmqp.jpg);
  background-position:center;
  min-height: 650px;
}

.headertextcland{
	font-family: 'Bree Serif', serif;
	text-align: center; 
	color: white; 
	position: relative; 
	top: 280px; 
	font-weight: 300; 
	font-size: 35px;  
	text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);
}

.headersubtxtcland{
	text-align: center; 
	color: white; 
	position: relative; 
	top: 300px; 
	font-weight: 300; 
	font-size: 15px;
	text-align: center;  
	text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);
}

.navbackground{
	background: transparent !important;
}

 a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
}





.navbar-brand1 {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.apptmentbtn{
	-webkit-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
-moz-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
font-family: 'Bree Serif', serif;
}

.posibt{
	position: relative; 
	top: 310px;
	text-align: center;
}

.homesview{
	background-color: #ffffff;
	padding: 50px;
}

.landhypes{
  margin-top: 15px;
  font-family: 'Bree Serif', serif;
}

.infoaddlh{
  font-size: 18px;
  text-align: justify;
  font-weight: 300;
  line-height: 30px;
}

.addedbenefits{
	background-color: #28a745;
	padding: 50px;
}

.finalcalltoaction{
	background-color: #28a745;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 100px;
}


</style>

<nav class="navbar navbar-light navbar-expand-lg fixed-top navbackground">
      <div class="container">
        <a class="navbar-brand1" href="/" style=""><img src="https://res.cloudinary.com/nikasemo/image/upload/v1506811592/wehlogo1_gpahlu.png" style="height: 100%; margin-right:5px;">
          <span style="position:relative; top: 5px; color: white;">Wehnaum Gated Community</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link btn btn-primary apptmentbtn" href="/homes/new" style="background-color: white; border: 0px;" data-toggle="modal" data-target="#exampleModal">Book An Appointment</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<section class="aduins">
  <div class="container">
    <div class="row" style="">
      <div class="col-lg-12">
        <h1 style="" class="headertextcland">Have you considered building and moving into your own house. This is your opportunity</h1>
        <p class="headersubtxtcland">
          Start Building in our community with as little as <span style="font-size: 18px; font-weight: 700;">GHc 1100</span> Ghana Cedis. Want to know how...
        </p>
        <p class="posibt"><a href="" class="btn btn-success btn-lg apptmentbtn" data-toggle="modal" data-target="#exampleModal">Book appointment with us today!</a></p>
      </div>
    </div>
  </div>
</section>

<section class="homesview">
	 <h3 style="font-family: 'Bree serif', serif; text-align: center;" class="js-reveal">We have Houses for everyone!</h3>
	  <p style="font-weight: 300; text-align: center; margin-bottom: 40px;" class="js-reveal">At Wehnuem, we believe Quality never goes out of style Our houses for all family sizes. Whether you have a abig or small family, we've got you covered. Houses that will last for a very very long time.</p>
<div class="container">
    <div class="row">
        <div class="col-md-4 co-lg-4 col-sm-12">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1509906515/1_smrtda.jpg" width="100%" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #ffc000; margin-bottom: 15px;">2 Bedroom House</h4>
                <p class="infoaddlh">
                 Our two bedroom houses are built with class. All rooms are Ensuite. it also has a guest facility. Our guest facility has its own washroom. Our two bedroom house has a fitted kitchen with the finest furniture. the master bedroom has a walk in closet. Our two bedroom comes with a lawn, paved and gated. The comunity it self is paved with concrete and grass with CCtv camera's around monitoring activity in the environment.
                </p>
            </div>
        </div>
        <div class="col-md-4 co-lg-4 col-sm-12">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1509906527/2_sddwai.jpg" width="100%" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #ffc000; margin-bottom: 15px;">3 Bedroom House</h4>
                <p class="infoaddlh">
                 Our three bedroom houses are very spacious and built with class. All rooms are Ensuite. it also has a guest facility. Our guest facility has its own washroom. Our two bedroom house has a fitted kitchen with the finest furniture. the master bedroom has a walk in closet. Our two bedroom comes with a lawn, paved and gated. The comunity it self is paved with concrete and grass with CCtv camera's around monitoring activity in the environment.
                </p>
            </div>
        </div>
        <div class="col-md-4 co-lg-4 col-sm-12" style="margin-bottom: 20px;">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1509907634/IMG-20160903-WA0073_g6ukhl.jpg" width="100%" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #ffc000; margin-bottom: 15px;">4 Bedroom House</h4>
                <p class="infoaddlh">
                 Our four bedroom houses are very spacious and built with class. All rooms are Ensuite. it also has a guest facility. Our guest facility has its own washroom. Our two bedroom house has a fitted kitchen with the finest furniture. the master bedroom has a walk in closet. Our two bedroom comes with a lawn, paved and gated. The comunity it self is paved with concrete and grass with CCtv camera's around monitoring activity in the environment.
                </p>
            </div>
        </div>
      </div>
    </div>

</section>


<section class="addedbenefits">
	
<h3 style="font-family: 'Bree serif', serif; text-align: center; color: #ffffff;" class="js-reveal">
	Our Gated Community provides you with the following...
</h3>
<br>
<ul style="color: white; line-height: 35px;">
	<li style="text-align: center;">24 hour CCTv surveilance</li>
	<li style="text-align: center;">Digital Entry into the community</li>
	<li style="text-align: center;">Free Community WIfi</li>
	<li style="text-align: center;">Standby Generators</li>
	<li style="text-align: center;">Community Learning Area/Library</li>
</ul>

</section>

<section class="finalcalltoaction">
	
<h3 style="font-family: 'Bree serif', serif; text-align: center; color: #ffffff;" class="js-reveal">
	If you have ever considered moving or building your own house. This is your single most great opportunity.
</h3>
<br>
<p style="font-weight: 300; text-align: center; margin-bottom: 40px; color: white; font-weight: 400;">This our offer is for a limited period. Book an Appointment with us today and lets talk more!</p>
<p style="text-align: center;"><a href="" class="btn btn-success apptmentbtn" data-toggle="modal" data-target="#exampleModal" style="background-color: white; color: black; font-weight: 400;">
Book Appointment Today</a>
</p>

</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book an Appointment with us.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
     <%= form_with(model: @lead, local: true) do |form| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :lead_name, :class => "form-control", :placeholder => "Your Name" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :lead_email, :class => "form-control", :placeholder => "Your email" %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :lead_phone, :class => "form-control", :placeholder => "Your phone number" %>
  </div>

  	<div class="form-group">
  		<label>Appointed date</label>
                <div class='input-group date' id='datetimepicker1'>
                    
    <%= form.text_field :timeappoint, id: :lead_timeappoint, :class => "form-control", :type => "date" %>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    </span>
                </div>
            </div>

  <div class="form-group">
   <label>Do you want to know something?</label>
    <%= form.text_area :message, id: :lead_message, :class => "form-control", :placeholder => "Your message for us" %>
  </div>

  <div class="form-group">
    <p style="text-align: right;"><%= form.submit "Book Appointment", :class => "btn btn-success" %></p>
  </div>
<% end %>


      </div>
  </div>
</div>


<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>














