<style type="text/css">

.projpartial{
	width: 100%;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 12px;
	margin: 15px;
	border: 1px solid #cccccc;
}

.dolus{
	width: 100%;
	height: 100%;
	border-radius: 12px;
	-webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
}

</style>

<div class="col-lg-12">
	<div class="projpartial">
		 <div class="row">
      <div class="col-sm-12 col-lg-3">
        <img src="<%= project.houses.first.picture %>" width="200px" height="200px" class="img-responsive img-rounded dolus">
      </div>
      <div class="col-sm-12 col-lg-9">
       <span style="margin-bottom: 10px;"><strong>Project Title:</strong> <%= project.name %></span><br>
       <span style="margin-bottom: 10px;"><strong>Project Owner:</strong> <%= project.users.first.firstname %></span><br>
       <span style="margin-bottom: 10px;"><strong>Owner's House Number:</strong> <%= project.users.first.housenumber %></span>
       <p style="margin-top: 20px;"><%= link_to "Go to Project" , project, :class => "btn btn-primary" %></p>
      </div>
    </div>
	
</div>
</div>